
@media screen and (max-width: 1080px) {
  .content_hero h1 {
    font-size: 3rem;
  }

  .content_hero {
    max-width: 55%;
    width: 100%;
  }
  .hero_img {
    max-width: 40%;
    width: 100%;
  }

  .menu ul li {
    margin: 1%;
  }
  .about_me_content{
    max-width: 50%;

  }
  .about_me_img{
    max-width: 50%;
  }
}
