@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400&display=swap");
html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
/* Header  */
.main-Header {
  /* position: fixed; */
  /* width: 100%; */
  overflow-x: hidden;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 32px;
  align-items: center;
}

#logo {

  width: 100px;
}
#logo2 {

  width: 100px;
}

.menu {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu ul {
  display: flex;
  flex-direction: row;
}

.menu ul li {
  list-style: none;

  margin: 1% 2%;
}
.cv_theme_menu {
  max-width: 30%;
  width: 100%;
}
.cv_theme_menu ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 16px;
}
.cv_theme_menu ul li {
  list-style: none;
}
.cv_theme_menu button {
  width: 70%;
}
.btndiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
width: 100%;
}
.menu ul li a {
  text-decoration: none;
  /* color: var(--gray-dark-900, #F9FAFB); */
  font-size: 16px;
 
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  padding: 8px;
}

.menu ul li a:hover {
  transition: all 0.5s ease;
  border-bottom: 2px solid #ffffff;
}

#btn-CV {
  border-radius: 12px;
  background: var(--gray-dark-900, #f9fafb);
  padding: 6px 16px;
  font-size: 16px;
 
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.4s ease;
}

#btn-CV:hover {
  background: var(--gray-dark-900, #dededf);
}

#header-menu-border {
  border: 1px solid #1f2937;
}
#img_mode {
  cursor: pointer;
}

/* HERO SCETION  */

.hero_Section {
  padding: 0px 32px;
  margin: 4% 4%;
  height: 60vh;
  padding-bottom: 50px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.content_hero {
  max-width: 60%;
  width: 100%;
  /* color: white; */
}
.hero_img {
  max-width: 35%;
  width: 100%;
}

.content_hero h1 {
 
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  /* 120% */
  letter-spacing: -1.2px;
}

.content_hero p {
 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#location_icon {
  margin-right: 8px;
}

#dot_icon {
  margin-right: 12px;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.social_img {
  cursor: pointer;
}

.social_img:hover {
  transition: all 0.3s ease;
  transform: scale(1.3);
}
.hero_img img {
  max-width: 100%;
  width: 100%;
}
/* About Me */

.about_me {
  /* background: var(--gray-dark-50, #111827); */
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 7vh 2vh;
}

.about_me_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about_me_header h4 {
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  /* color: var(--gray-dark-600, #D1D5DB); */
 
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;
  /* background: var(--gray-dark-200, #374151); */
}

.about_me_content_wrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 22px;
}

.about_me_content {
  max-width: 60%;
  width: 100%;
}

.about_me_img {
  max-width: 40%;
  width: 100%;
}

.about_me_img img {
  width: 90%;
}

.about_me_content h2 {
  color: var(--gray-dark-900, #f9fafb);

  /* Heading/H3/Semi Bold - Desktop */
 
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 120% */
  letter-spacing: -0.6px;
}

.about_me_content p {
  color: var(--gray-dark-600, #d1d5db);

  /* Body2/Normal - All */
 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.studies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.studies ul li {
  color: var(--gray-dark-600, #d1d5db);

  /* Body2/Normal - All */
 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 121%;
  /* 150% */
}

/* Skill Section  */
.skills_section {
  /*display: none !important ;*/
  background: var(--gray-dark-default, #030712);
  display: flex;
  padding: 7vh 4vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.skills_section_header {
  margin-bottom: 3rem;
}
.skills_section_header h4 {
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  /* color: var(--gray-dark-600, #D1D5DB); */
 
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;
  /* background: var(--gray-dark-200, #374151); */
}

.skillimages_whole {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill_img_div {
  vertical-align: middle;
  margin-top: 28px;height: 100%;width: 100%; margin: 20px;

}

.skill_img_div h4 {
  color: var(--gray-dark-600, #d1d5db);

  /* Body1/Normal - Dektop */
 
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 28px; 155.556% */
}

.skill_images {
  width: 6rem;
  height: 100%;

}

.skill_headline p {
  color: var(--gray-dark-600, #d1d5db);
  text-align: center;

  /* Subtitle/Normal - Desktop */
 
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
}

.skill_images:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.2;
}
/* Exoperience Section  */
.experience_section {
  display: flex;
  padding: 5vh 2vh;
  flex-direction: column;

  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--gray-dark-50, #111827);
}

.experience_section_header  {
    margin-bottom: 3rem;
}
.experience_section_header h4 {
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  /* color: var(--gray-dark-600, #D1D5DB); */
 
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;
  /* background: var(--gray-dark-200, #374151); */
}

.expereience_boxes {
  display: flex;
  width: 80%;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
 margin: 6vh 0;
  border-radius: 12px;
  /* background: var(--gray-dark-100, #1F2937); */
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
}

.xp_box_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.xp_box_header h3 {
  color: var(--gray-dark-900, #f9fafb);
 
  vertical-align: middle;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.xp_box_header p {
  color: var(--gray-dark-700, #e5e7eb);
 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.xp_box_content {
  align-items: center;
}

.xp_box_content ul li {
  color: var(--gray-dark-600, #d1d5db);
 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Work Section  */
.work {
  background: var(--gray-dark-default, #030712);
  align-items: center;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.works_boxes_main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.box_work_single {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  color: var(--gray-dark-600, #d1d5db);
 
  align-items: center;
  text-align: start;
  border-radius: 12px;
  background: var(--gray-dark-100, #1f2937);
  justify-content: space-around;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  width: 85%;
}

.box_work_single_content {
  width: 40%;
}

.box_work_single_content h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.box_work_single_image {
  max-width: 40%;
  width: 100%;
}

.work_section {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  margin: 96px 80px;
}

.work_header_heading h4 {
  padding: 4px 20px;
  border-radius: 12px;
  /* background: var(--gray-dark-200, #374151);
    color: #D1D5DB; */
}

.work_header_headline p {
  color: #d1d5db;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.work_main_box {
  display: flex;
  flex-direction: column;
  /* padding: 48px 32px; */
  gap: 48px;
}

.work_single_box {
  display: flex;
  flex-direction: row;
  /* background-color: #374151; */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),
    0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.work_box_img {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 18px;
}

.work_box_content {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 48px;
  /* background-color: #1F2937; */

  border-radius: 0px 12px 12px 0px;
}

.work_box_content h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #f9fafb;
}

.work_box_content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f9fafb;
}


.work_box_img img {
  min-width: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04),
    0px 4px 3px 0px rgba(0, 0, 0, 0.1);
}

.work_box_content img {
  width: 40px;
  color: black;
}

.work_box_content img:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.work_contetn_tags {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.work_contetn_tags h4 {
  display: flex;
  padding: 4px 20px;
  /* justify-content: center;
align-items: center; */
  flex-wrap: wrap;
 
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 20px; */
  border-radius: 12px;
  /* background: var(--gray-dark-200, #374151); */
}

#work2_content {
  border-radius: 12px 0px 0px 12px;
}
.sliderTestimonial{
  width: 90vw !important;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 96px 80px;
  background: var(--gray-dark-50, #111827);
  /* width: 100vw; */
}

.tetimonial_header h4 {
  padding: 4px 20px;
  border-radius: 12px;
  /* background: var(--gray-dark-200, #374151);
    color: #D1D5DB; */
}

.tetimonial_header p {
  color: #d1d5db;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
}

/* .testimonial_cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
} */
.swiper {
  width: 1200px;
 
  gap: 48px;

  height: 100%;
}
.test_cols{
  margin: 19px;
}
.swiper{
  cursor: grab;
}
.Skillswiper {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.test_cols {
  display: flex;
  padding: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  border-radius: 12px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  /* background-color: #1F2937; */
}

#test_mg {
  width: 40px;
  background: #9ca3af;
  border-radius: 64px;

  padding: 12px;
}
.testimonial_swiper{
  width: 70vw;
  height: 100%;
}
.test_cols_content p {
 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #d1d5db;
}

.test_cols_name_client h4 {
 
  text-align: center;
  font-style: normal;
  color: #d1d5db;
}

.test_cols_name_client p {
 
  text-align: center;
  font-style: normal;
  color: #d1d5db;
}

.footer {
  display: flex;
  padding: 96px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.footer h4 {
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  /* background: var(--gray-dark-200, #374151);
    color: #D1D5DB; */
 
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.footer p {
  color: #d1d5db;
 
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.footer_socials {
  margin-top: 12px;
}
.copyright {
  background-color: #111827;
  padding: 14px 80px;
}
.copyright p {
  color: var(--gray-dark-600, #d1d5db);
 
  font-size: 14px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
swiper-container {
  width: 100%;
  height: 100%;position: relative;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skillSwipwe{
  cursor: grab;
}

.swiper-container::before,
.swiper-container::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  z-index: 2;
}

.swiper-container::before {
  left: 0;
  background: linear-gradient(to right, #000, transparent);
}

.swiper-container::after {
  right: 0;
  background: linear-gradient(to left, #000, transparent);
}
#sidebar{
  display: none;
}
.navbar {
  padding-left: 45px;
}
#nav {
  color: #33a242;
}
#cross {
  color: white;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh;
  /* background-image: url("Imges/rosie-sun-1L71sPT5XKc-unsplash\ \(1\).jpg"); */
  background-size: cover;
  background-position: center center;
  background-position: center top;
  background-attachment: fixed;
  z-index: -1;
  opacity: 1;
}

#sidebar ul {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}

#sidebar li {
  list-style: none;
  margin: 0.7rem 0rem;
}

#link {
  box-sizing: inherit;
  text-decoration: none;
  font-size: 1.15rem;
  padding-top: 1rem;
  color: White;
  font-weight: 200;
}

#link:hover {
  border-top: 3px solid rgb(228, 220, 228);
  border-radius: 3px;
  color: rgb(196, 196, 196);
}
#icons {
  color: #ffffff;
}
.ham {
  padding-right: 45px;
  position: fixed;
  right: 3px;
  background-color: #111827;
  z-index: 900;
  color: #fff;
  padding-left: 23px;
  margin: 1rem;
  border-radius: 8px;
}

#hm {
  cursor: pointer;
  font-size: 0.8rem !important;
}

.hamicon {
  padding-left: 14px;
}

.cross {
  margin-left: 14px;
  cursor: pointer;
}

#nav {
  margin-bottom: 1rem;
  margin-top:1rem;
}

.hidebar {
  background: #111827;
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.3rem;
  line-height: 1.846;
  padding: 3.6rem 3rem 3.6rem 3.6rem;
  padding: 0.6rem 1rem 3.6rem 0;
  height: 100%;
  width: 190px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 700;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s;
}

.hidebar p {
  font-size: 13px;
}

.hidden {
  translate: 260px;
  transition: all 1s;
}

.licon {
  margin: 0px 10px;
}

.hero {
  height: 100vh;
}

.content {
  font-size: 22px;
  width: 60%;
}

.icons i {
  margin-top: 2rem;
  font-size: 25px;
  cursor: pointer;
}

.btns {
  padding-top: 1.8rem;
  text-align: left;
}

.btns button {
  margin: 4px;
  width: 255px;
  color: #ffffff;
  margin: 1.5rem 1.5rem 0 0;
  letter-spacing: 0.25rem;
  transition: all 0.5s ease-in-out;
  background: transparent !important;
  border: 0.2rem solid #dbdfdb;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  margin: 0 0.3rem 1.2rem 0;
  text-decoration: none;
  cursor: pointer;
}

.btns button:hover {
  color: black;
  background: white !important;
}
.sidebar_btn {
  padding:10px 20px;
  border-radius: 8px;

}
.sidebar_link{
  color: white;
  text-decoration: none;
  
}